.App {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

header p, header ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  color: #666;
}

header ol {
  margin-top: 10px;
  padding-left: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown {
  margin-bottom: 10px;
  width: 100%;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}
